<div class="cn-presentation-overlay" style="width: <%= overlayWidth %>px; height: <%= overlayHeight %>px;">
	<div class="cn-video-content" style="left: <%= leftOffset %>px; top: <%= topOffset %>px; width: <%= width %>; height: <%= height %>;">
		<div class="cn-video-player-container">
			<iframe src="<%= videoUrl %>" frameborder="0" allowfullscreen></iframe>
			<img src="<%= imgPath %>">
		</div>
		<div class="cn-video-player-sidebar">
			<div class="cn-video-content-close-button"></div>
		</div>
	</div>
</div>