<div class="cn-segment">
    <div class="cn-segment-content">
        <a href="#"><img src="<%= ImageURL %>"></a>
        <a href="#" class="cn-playnow-icon fa fa-play"></a>
        <p>Play Now</p>
    </div>

    <div class="cn-segment-details">

        <h3>
            <%= ContentName.substr(0,30) %>...</h3>
        <input class="flag" type="checkbox" id=<%= ContentId %>>
        <label class="cn-watchlater-icon fa fa-clock-o" data-tooltip="Watch Later" for=<%= ContentId %> onClick>
            <div class="tool-tip slideIn top add">Watch Later</div>
            <div class="tool-tip slideIn top remove">Remove from queue</div>
        </label>
        <p><%= ContentDescription.substr(0,58) %>...</p>
    </div>
</div>