
<div class="cn-program-content">
	<a href="#"><img src="<%= programImg %>"></a>
	<a href="#" class="cn-playnow-icon fa fa-play"></a>
	<p> Play Now </p> 
</div>
	
<div class="cn-program-details">

	<h3> <%= title %></h3>
	<input class="flag" type="checkbox" id=<%= id %>>
	<label class="cn-watchlater-icon fa fa-clock-o" data-tooltip="Watch Later" for=<%= id %> onClick><div class="tool-tip slideIn top">Watch Later</div></label>
	
	<p> <%=  segments %> Videos</p>
</div>


<div class="cn-segmentExpander"></div>

