@platform-gray: #cccccc;
@plaform-padding: 9px;


.cn-content{
	width: 940px !important; /*temporary use only*/
}

.cn-header-content{
	height: 75px;
	border: 1px solid @platform-gray;
	padding: @plaform-padding;
}

.cn-sidebar-content{
	border: 1px solid @platform-gray;
	width: 20%; /* temporary */
	padding: @plaform-padding;
}

.cn-main-content{
	border: 1px solid @platform-gray;
	width:75%; /*temporary*/
	padding: @plaform-padding;
}